@mixin animation-split($nb-items, $total-duration, $base-delay: 0, $from: 'start', $selector: '') {
  $split-delay: $total-duration / $nb-items;

  @for $i from 1 through $nb-items {
    $delay: #{$base-delay + round($i * $split-delay * 1000) / 1000}s;

    @if $from != 'start' {
      &:nth-last-child(#{$i}) {
        @if $selector != '' {
          #{$selector} {
            animation-delay: $delay;
          }
        } @else {
          animation-delay: $delay;
        }
      }
    } @else {
      &:nth-child(#{$i}) {
        @if $selector != '' {
          #{$selector} {
            animation-delay: $delay;
          }
        } @else {
          animation-delay: $delay;
        }
      }
    }

    @content;
  }
}
