{
    "comments": true,
    "presets": [
        [
            "@babel/preset-env",
            {
                "bugfixes": true,
                // "useBuiltIns": true,
                // "loose": true,
                // "debug": true,
            }
        ]
    ],
}
