@use '../../../abstract/mixins/all-but';
@use '../../../variables/colors';

// Modifier for a group of tab buttons with a separator between them.

.btn-tabs--with-separator {
  --with-separator: '';

  // When interacting with the group, highlight 1 button, fade out the others.

  &:hover,
  &:focus,
  &:focus-within {
    --btn-transition: 0.1s;

    .btn-tabs__btn {
      --btn-border: var(--primary); // overwrite default hover/focus

      /**
       * Removing transition on background-color and color to only keep the
       * border-color one gives better feedback on :active release.
       */

      &:hover,
      &:focus {
        transition-property: border-color;
      }

      // Hide surrounding separators of the active button.
      &:active {
        &::before,
        & + ::before {
          opacity: 0;
        }
      }
    }
  }

  // Button

  .btn-tabs__btn {
    padding-inline: 1.6rem;

    // Separator between buttons.

    @include all-but.all-but(1) {
      &::before {
        content: var(--with-separator, unset);
        size: 0.2rem var(--tab-separator-height, 2rem);
        position: absolute;
        left: -0.1rem;

        pointer-events: none;

        background: var(--tab-separator, unset);
        border-radius: 0.1rem;
      }
    }

    &:active {
      --btn-bg: var(--primary);
      --btn-color: var(--bg);
    }
  }
}

.btn-tabs--big-separator {
  --tab-separator-height: 3rem;
}
