.layer {

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    inset: 0;

    background: $gallery;
    pointer-events: none;

    transition: opacity .5s $in-out-quad;
  }
}

.layer--active {
  &::before {
    opacity: 0;
  }
}
