@use "../utility/easings";

@keyframes bookmark-appear {
  to {
    opacity: 1;
    transform: none;
  }
}

.bookmark {
  opacity: 0;

  // Would have loved a bounce animation using scale, but Safari says no.
  animation: bookmark-appear .3s easings.$out-quad forwards;
}

.visible-when-selection-is-note {
  html:not(.selection-is-note) & {
    display: none;
  }
}
