.selection {
  line-height: 1.2;

  &:not(:first-of-type) {
    margin-top: .5em;
  }
}

// example: 'primary: '
.selection__title {
  display: inline;

  &::after {
    content: ': ';
  }
}

.selection__title--primary {
  color: orangered;
}

.selection__title--secondary {
  color: chartreuse;
}

.selection__list {
  display: inline-flex;
}

// example: 'a4 / b6 / c1'
.selection__listItem {
  @include all-but(1) {
    &::before {
      content: ' / ';
      margin-left: .25em;
    }
  }
}

// // @todo - Other color set test. Should be in accessibility settings.

// .selection__title--primary {
//   color: #e49718;
// }

.selection__title--secondary {
  color: #1890ff;
}

// .extraselectednote {
//   fill: #e49718;
// }

.selectednote {
  fill: #1890ff;
}
