// Approximated colors names: https://chir.ag/projects/name-that-color/#6195ED

// Black, grey, white
$black: hsl(0, 0%, 0%);
$cod-gray: hsl(0, 0%, 9%);
$young-night: hsl(0, 0%, 14%);
$moonless-night: hsl(0, 0%, 18%);
$lacquered-licorice: hsl(0, 0%, 22%);
$silver: hsl(0, 0%, 77%);
$alto: hsl(0, 0%, 85%);
$gallery: hsl(0, 0%, 94%);
$white: hsl(0, 0%, 100%);

// Tones
$pomegranate: hsl(4, 90%, 58%);
$amaranth: hsl(340, 80%, 52%);
$seance: hsl(291, 64%, 42%);
$purple-heart: hsl(262, 52%, 47%);
$san-marino: hsl(231, 48%, 48%); // also accent
$dodger-blue: hsl(207, 90%, 54%);
$cerulean: hsl(199, 98%, 48%);
$robins-egg-blue: hsl(187, 100%, 42%);
$persian-green: hsl(174, 100%, 29%);
$fruit-salad: hsl(122, 39%, 49%);
$sushi: hsl(88, 50%, 53%);
$pear: hsl(66, 70%, 54%);
$gorse: hsl(54, 100%, 62%);
$amber: hsl(45, 100%, 51%);
$orange-peel: hsl(36, 100%, 50%);
$orange: hsl(14, 100%, 57%);
