@use "../../abstract/mixins/supports/supports";
@use "../../utility/easings";
@use "../../variables/colors";

.checkable {
  display: inline-flex;
  align-items: baseline;
  gap: 1rem;

  color: var(--primary);

  @media (--hidpi) {
    font-size: 1.3rem; // only renders fine on high pixel density screens
  }

  &:hover {
    .checkbox::before {
      opacity: 1;
      transition: none;
    }
  }
}

.checkable__input {
  opacity: 0;

  &:not(:checked) {
    + .checkbox {
      .checkable__icon {
        transform: scale(0);
        transition-timing-function: easings.$in-quint;
      }
    }
  }

  @include supports.supports-focus-visible {
    &:focus-visible {
      + .checkbox::before { opacity: 1; }
    }
  }

  @include supports.supports-focus-visible(false) {
    &:focus {
      + .checkbox::before { opacity: 1; }
    }
  }
}

.checkbox {
  --checkbox-radius: .4rem;

  flex-shrink: 0;
  position: relative;
  order: -1;

  size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  background: var(--relation, var(--checkbox, rgba(245, 245, 245, 0.05)));
  border-radius: var(--checkbox-radius);

  // Outer border
  &::before {
    content: '';
    position: absolute;
    inset: 0;

    background: var(--primary);
    border-radius: var(--checkbox-radius);
    opacity: .1;
  }

  // Inner background with radius (= the reason we have pseudo-elements here).
  &::after {
    content: '';
    position: absolute;
    inset: calc(var(--checkbox-radius) / 2);

    background: var(--relation, var(--checkbox, colors.$young-night));
    border-radius: calc(var(--checkbox-radius) / 2);
  }
}

.checkable__icon {
  z-index: 1;
  margin-left: 0.1rem;

  transition: .3s transform easings.$out-back;
}
