.btn {
  --btn-default-radius: 1rem;

  padding: 1rem 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;

  white-space: nowrap;

  background: v(btn-bg, bg, transparent);
  border: solid .2rem v(btn-border, inherit);
  border-radius: v(btn-radius, btn-default-radius, 0);
  color: v(btn-color, primary);

  transition: v(btn-transition, .1s) $in-out-quad;
  transition-property: background-color, border-color, color;

  &:hover,
  &:focus {
    --btn-bg: var(--bg);
    --btn-border: var(--primary);
    --btn-color: var(--primary);

    outline: none;

    transition-duration: v(btn-hover-transition, btn-transition, 0s);
  }

  &:active {
    --btn-bg: #{$gallery};
    --btn-transition: 0s;
  }
}

.btn--hollow {
  --btn-border: #{$alto};
  --btn-transition: .4s;
  --btn-hover-transition: 0s;
}

.btn--plain {
  --btn-bg: var(--primary);
  --btn-border: var(--primary);
  --btn-color: var(--bg);

  &:hover,
  &:focus {
    --btn-bg: #{$lacquered-licorice};
    --btn-border: #{$lacquered-licorice};
    --btn-color: var(--bg);
  }

  &:active {
    --btn-bg: #{$silver};
    --btn-border: #{$silver};
  }
}

.btn--small {
  padding: .8rem;
}

.btn--naked {
  --btn-border: transparent;
}

.btn--small-icon {
  gap: 1rem;
}
