@use '../../utility/easings';
@use '../../variables/colors';

.btn {
  padding: 1rem 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;

  white-space: nowrap;

  background: var(--btn-bg, var(--bg, transparent));
  border: solid 0.2rem var(--btn-border, inherit);
  border-radius: var(--btn-radius, var(--btn-default-radius, 0));
  color: var(--btn-color, primary);

  transition: var(--btn-transition, 0.1s) easings.$in-out-quad;
  transition-property: background-color, border-color, color;

  &:hover {
    --btn-bg: var(--bg);
    --btn-border: var(--primary);
    --btn-color: var(--primary);

    outline: none;

    transition-duration: var(--btn-hover-transition, var(--btn-transition, 0s));
  }

  &:active {
    --btn-bg: #{colors.$gallery};
    --btn-transition: 0s;
  }
}

.btn--hollow {
  --btn-border: #{colors.$alto};
  --btn-transition: 0.4s;
  --btn-hover-transition: 0s;
}

.btn--plain {
  --btn-bg: var(--primary);
  --btn-border: var(--primary);
  --btn-color: var(--bg);

  &:hover {
    --btn-bg: #{colors.$lacquered-licorice};
    --btn-border: #{colors.$lacquered-licorice};
    --btn-color: var(--bg);
  }

  &:active {
    --btn-bg: #{colors.$silver};
    --btn-border: #{colors.$silver};
  }
}

.btn--big {
  padding: 1.7rem 2.5rem;
}

.btn--small {
  padding: 0.8rem;
}

.btn--naked {
  --btn-border: transparent;
}

.btn--small-icon {
  gap: 1rem;
}
