.btn--relation {
  --btn-border: var(--relation);

  &.btn--selected,
  &:hover,
  &:focus {
    --btn-bg: var(--relation);
    --btn-color: var(--white);
    --btn-border: var(--relation);
  }
}

// @todo move this somewhere else…

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
}

.btn-group--vertical {
  flex-direction: column;
}
