body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
  height: max-content;
}

/* *::-webkit-scrollbar {
  display: none;
} */

/* * { */
/* -ms-overflow-style: none;  IE and Edge */
/* scrollbar-width: none;  Firefox */
/* } */

#app {
  margin-left: auto;
  margin-right: auto;
  max-width: 1044px;
  padding: 0 10px;
}

/* General visual stuff */

#layers {
  display: block;
  min-width: 100%;
}

svg .system * {
  color: rosybrown;
  fill: rosybrown;
}

svg .system .cycle,
svg .system .cycle * {
  color: unset;
  fill: unset;
}

.stage-number {
  font-size: 400px;
  fill: saddlebrown !important;
}

.placeholder {
  min-height: 1em;
}

.ds-selector {
  background: none !important;
  border: none !important;
}

.loading {
  position: relative;
  min-height: 100px;
  width: 100%;
}

.loading:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px auto;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body:not(.mousedown) .note:hover {
  transform: translate3d(0, 0, 0);
  filter: url('#glowFilter');
}

svg .system .extraselectednote,
svg .system .extraselectednote * {
  color: red;
  fill: red;
}
svg .system .selectednote,
svg .system .selectednote * {
  color: green;
  fill: green;
}
svg .system .extrahover,
svg .system .relation-select-primary {
  transform: translate3d(0, 0, 0);
  filter: url('#extraFilter');
}
svg .system .extrahover,
svg .system .extrahover *,
svg .system .relation-select-primary,
svg .system .relation-select-primary * {
  color: red;
  fill: red;
}
svg .system .selecthover,
svg .system .relation-select-secondary {
  transform: translate3d(0, 0, 0);
  filter: url('#selectFilter');
}
svg .system .selecthover,
svg .system .selecthover *,
svg .system .relation-select-secondary,
svg .system .relation-select-secondary * {
  color: hsl(199, 98%, 55%);
  fill: hsl(199, 98%, 55%);
}

.relation,
.metarelation {
  fill: var(--shade, currentColor);
  fill-opacity: 0.8;
}

html.shades-alternate .relation,
html.shades-alternate .metarelation {
  --shade: var(--shade-alternate, currentColor);
}

body:not(.mousedown) .metarelation:hover line,
body:not(.mousedown) .metarelation:hover rect {
  transform: translate3d(0, 0, 0);
  filter: url('#glowFilter');
  stroke: blue;
  stroke-width: 20px;
}
.extraselectedmetarelation {
  fill-opacity: 0.9;
  stroke-opacity: 0.8;
  transform: translate3d(0, 0, 0);
  filter: url('#extraFilter');
}
.selectedmetarelation {
  fill-opacity: 0.9;
  stroke-opacity: 0.8;
  transform: translate3d(0, 0, 0);
  filter: url('#selectFilter');
}
.relation line {
  visibility: hidden;
}
.relation:hover line,
.relation.selectedrelation line,
.relation.extraselectedrelation line {
  visibility: visible;
}
body:not(.mousedown) .relation:hover {
  transform: translate3d(0, 0, 0);
  filter: url('#selectFilter');
}
body:not(.mousedown) .shift-pressed .relation:hover path,
body:not(.mousedown) .shift-pressed .metarelation:hover line,
body:not(.mousedown) .shift-pressed .metarelation:hover rect {
  transform: translate3d(0, 0, 0);
  filter: url('#glowFilter');
  stroke: red !important;
  stroke-width: 15px;
  stroke-opacity: 0.8;
}
.selectedrelation line:not(.relation-jot-line),
.selectedrelation rect {
  fill-opacity: 0.7;
  stroke-opacity: 0.8;
  stroke: blue !important;
  stroke-dasharray: 100 100;
  stroke-width: 15px;
  filter: url('#selectFilter');
}
.selectedrelation path {
  filter: url('#selectFilter');
}
.selectedrelation .relation-jot-line {
  stroke: blue !important;
  stroke-width: 30px;
  stroke-opacity: 0.8;
}
body:not(.mousedown) .extraselectedrelation:hover path,
body:not(.mousedown) .extraselectedrelation:hover line,
body:not(.mousedown) .extraselectedrelation:hover rect {
  transform: translate3d(0, 0, 0);
  filter: url('#glowFilter');
  stroke: red !important;
  stroke-width: 15px;
  stroke-opacity: 0.8;
}
.extraselectedrelation path,
.extraselectedrelation line:not(.relation-jot-line),
.extraselectedrelation rect {
  fill-opacity: 0.7;
  stroke-opacity: 0.8;
  stroke: red !important;
  stroke-dasharray: 80 80;
  stroke-width: 15px;
  transform: translate3d(0, 0, 0);
  filter: url('#extraFilter');
}
.extraselectedrelation .relation-jot-line {
  stroke: red !important;
  stroke-width: 30px;
  stroke-opacity: 0.8;
}
.relationhover {
  transform: translate3d(0, 0, 0);
  filter: url('#selectFilter');
}
.relationhover.metarelation rect,
.relationhover.metarelation line {
  transform: translate3d(0, 0, 0);
  filter: url('#selectFilter');
  stroke: blue;
  stroke-width: 20px;
}

.extrarelationhover {
  transform: translate3d(0, 0, 0);
  filter: url('#extraFilter');
}

.hidden {
  visibility: hidden;
}

#layers-wrapper {
  overflow-x: auto;
  width: 100%;

  margin-top: 100px;

  scrollbar-width: none;
}

.layer {
  margin-bottom: 10px;
}

.definition-scale {
  overflow-y: visible;
}

.view,
.svg_container {
  display: block;
}

.svg_container svg {
  display: block;
  width: 100%;
  height: 100%;
}

textarea {
  background-color: rgba(61, 61, 61, 0.5);
  color: greenyellow;
  border: none;
  padding: 4px 4px 4px 12px;
  box-sizing: border-box;
  margin: 3px;
}

input {
  font-family: arial;
}

input[type='button'] {
  border: solid 1px;
  border-color: lightgray;
  padding: 4px;
  margin: 2px;
}

input[type='button']:active,
input[type='button'].active {
  background: darkgray;
}

body:not(.mousedown) input[type='button']:hover {
  border-color: blue;
}

.hidden {
  display: none;
}

:disabled,
.disabled {
  -webkit-filter: grayscale(100%) !important;
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
  filter: gray !important;
  cursor: not-allowed !important;
}

.locked * {
  cursor: not-allowed;
}

#reduction-counter {
  font-weight: bold;
  font-family: system-ui;
  font-size: large;
  color: saddlebrown;
}

#reduction-counter.cycle {
  color: darkred;
}
