$global-w: (
  'mobile': 20em, // 320px
  'tablet-7': 37.5em, // 600px
  'tablet-9': 56.25em, // 900px
);

$global-h: (
  'mobile': 28.38em, // 454px
  'tablet-7': 50em, // 800px
  'tablet-9': 75em, // 1200px
);

@mixin apply-widths($map) {
  @each $key, $value in $map {
    .w-#{$key} {
      width: $value;
    }
  }
}

@mixin apply-heights($map) {
  @each $key, $value in $map {
    .h-#{$key} {
      height: $value;
    }
  }
}

@include apply-widths($global-w);
@include apply-heights($global-h);