@use "../utility/easings";
@use "../variables/colors";

$toggle-size:  46px;
$panel-size : 250px;

#layers-menu {
  position: fixed;

  top:  100vh;
  left:  50%;

  transform: translate(-50%, -$toggle-size);

  display: flex;

  flex-direction: column;
  align-items: center;

  &.layers-menu--visible {
    transform: translate(-50%, -300px);
    transition: .2s;

    .hide-when-visible {
      display: none;
    }
  }

  &:not(.layers-menu--visible) {
    transition: .2s;

    .hide-when-not-visible {
      display: none;
    }
  }

  & > #layers-menu__toggle {
    height: $toggle-size;
  }

  & > #layers-menu__settings {
    height: $panel-size;

    display: flex;

    flex-direction: row;
    column-gap: 20px;

    padding: 10px;

    background: oldlace;

    border: solid 2px pink;
    border-radius: 1em;

    & > * {
      position: relative;

      display: grid;

      align-items:     stretch;
      justify-content: center;

      & > h1 {
        width: 100%;

        font-size: 1.7em;
        color: slateblue;
      }
    }
  }
}

#json-tree {
  width: 125px;

  outline: none;

  transition: .1s;

  &:hover, &:focus {
    outline: solid 3px slateblue;
  }
}
