.menu-and-filters {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: auto;
  margin: 0;
  z-index: 999;
}

.fly-out--main-menu {
  max-width: 25.8rem;
}
