.score-and-score-appearance {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: auto auto; // should switch to grid auto layout
  // align-items: start;
  gap: 1.5rem;
}

.more-options {
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: .7rem;

  font-size: 1.1rem;
  line-height: 1;

  &:hover,
  &:focus {
    --dot-gap: .2rem;
  }
}

.more-options__dots {
  letter-spacing: v(dot-gap, .01em);
  transition: letter-spacing .3s $out-quad;
}

.relation-width {
  width: 12rem;

  position: relative;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-size: 1.3rem;
}

.relation-width__progress-range {
  width: 100%;
}
