@import 'ui';
@import 'menu-and-filters';
@import 'history-and-selection';
@import 'selection-legend-and-zoom';
@import 'score-navigation';
@import 'metadata-and-note-toggle';
@import 'player-and-score-settings';
@import 'layers-menu';
@import 'ui/relations';

.hidden-when-has-1-layer {
  html.has-1-layer & {
    display: none;
  }
}

.hidden-when-has-many-layers {
  html.has-many-layer & {
    display: none;
  }
}

.hidden-when-in-layer-1 {
  html.in-layer-1 & {
    display: none;
  }
}

.hidden-when-not-in-layer-1 {
  html.not-in-layer-1 & {
    display: none;
  }
}

.hidden-when-can-not-edit-layer {
  html:not(.can-edit-layer) & {
    display: none;
  }
}
